$till-pink: #CF5076;
$till-pink-shallow: rgba($till-pink, 0.8);
$background-color2: #F6F6F6;
$main-button-color: #388697;
$main-button-color-shallow: rgba($main-button-color, 0.8);
$main-button-text-color: #FFFFFF;
$main-hover-bg-color: #E8F0F2;
$main-shallow: #5E6366;

$exception-blue: #3419DB;
$exception-blue-shallow: rgba($exception-blue, 0.5);
$great-green: #459E48;
$great-green-shallow: rgba($great-green, 0.5);
$progress-yellow: #CF9B16;
$progress-yellow-shallow: rgba($progress-yellow, 0.5);
$progressing-yellow: #FFB800;
$cautionary-red: #DA1C1C;
$cautionary-red-shallow: rgba($cautionary-red, 0.5);

