@import "../colors.scss";

.blank-content {
    width: 100%;
    height: 100%;
    text-align: center;
    color: $main-shallow;
    font-size: 30px;
    margin-top: 300px;
}

.main-button {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 5px;
    background-color: $main-button-color;
    color: $main-button-text-color;
}

.user-nav {
    color: $till-pink;
    cursor: pointer;

    .user-img {
        position: absolute;
        img {
            float: left;
        }
    }
}

.select-item {
    background: $main-hover-bg-color;
    .user-img {
        background-color: rgba(0,0,0,0);
        border-radius: 50%;
        border: 4px solid $till-pink;
    }
    .user-name {
        font-weight: 650;
    }
}

.info-card {
    position: relative;
    width: calc(100% - 40px);
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    height: 200px;
    margin-bottom: 30px;

    .card-header {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 20px;
    }
    .card-content {

        .single-content {
            float: left;
            width: calc(100%/ 2);
            height: 50px;
            margin-bottom: 20px;
            text-transform: capitalize;

            span {
                font-size: 16px;
            }
            .content-text {
                font-size: 20px;
            }
        }
    }
}

.calendar {
    width: 200px;
    margin-bottom: 50px;
}

.input-perform-form {
    width: 100%;
    min-height: 80px;

    .header {
        cursor: pointer;
        width: 100%;
        height: 30px;

        div {
            float: left;
            margin-right: 10px;
            font-size: 24px;
            font-weight: 600;
        }
        svg {
            float: left;
            margin-top: 5px;
        }
        img {
            width: 24px;
            height: 18px;
            float: left;
            margin-top: 10px;
        }
    }

    .radio-options {
        height: 200px;
        width: 90%;
        margin-top: 20px;

        .radio-option:hover {
            border: 1px solid black;
        }

        .radio-option {
            cursor: pointer;
            float: left;
            width: calc((100% - 45px) / 2);
            height: 50px;
            border-radius: 10px;
            margin-right: 20px;
            margin-bottom: 20px;
            padding-top: 20px;
            border: 1px solid #ccc;
            
            span {
                text-transform: capitalize;
                margin-left: 20px;
                font-size:18px;
                font-weight: 500;
            }

            .ratio-circle {
                float: left;
                height: 20px;
                width: 20px;
                margin-left: 20px;
                border: 1px solid #bbb;
                background-color: white;
                border-radius: 50%;
            }
        }

        .radio-option:nth-of-type(1) {
            color: $cautionary-red;
        }
        .radio-option:nth-of-type(2) {
            color: $progress-yellow;
        }
        .radio-option:nth-of-type(3) {
            color: $great-green;
        }
        .radio-option:nth-of-type(4) {
            color: $exception-blue;
        }
    }
}

.box-container {
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow:black 0px 0px 1px;
    background-color: white;
    cursor: pointer;

    .content {
        margin: 20px
    }
}

.single-message {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    img {
        margin: 0px 10px 0px 20px;
        width: 60px;
        height: 50px;
    }
    .message {
        margin-top: 5px;
        .sender {
            font-size: 18px;
            font-weight: 600;
        }
        .text {
            font-size: 14px;
        }
    }
}
