@import "../colors.scss";

.main-button {
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 25px;
    padding-top: 5px;
    background-color: $main-button-color;
    color: $main-button-text-color;
}

.user-nav {
    color: $main-color;
    cursor: pointer;

    .user-img {
        position: absolute;
        img {
            float: left;
        }
    }
}

.select-item {
    background: $main-hover-bg-color;
    .user-img {
        background-color: rgba(0,0,0,0);
        border-radius: 50%;
        border: 4px solid $main-color;
    }
    .user-name {
        font-weight: 650;
    }
}

.info-card {
    position: relative;
    width: calc(100% - 40px);
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    height: 200px;
    margin-bottom: 30px;

    .card-header {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 20px;
    }
    .card-content {

        .single-content {
            float: left;
            width: calc(100%/ 2);
            height: 50px;
            margin-bottom: 20px;

            span {
                font-size: 16px;
            }
            .content-text {
                font-size: 20px;
            }
        }
    }
}